{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
	<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}


{% block content %}
	<div class="container">
	    <div class="row">
	        <div class="col">
	        	<div id="home-content">
	            	<img class="side_image" src="{% static 'img/pika/1.png' %}">
	            </div>
	        </div>
	        <div class="col" style="margin-top: 200px;">
	            <div id="home-content">
	            	<h2>pikapika !!!<br><br>Hope you had a great time with me... we would like to request you to fill <a href="{% url 'quiz:reviews' %}" style="color: #c46;font-weight: bold;">reviews</a> and appreciate our efforts :)</h2>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock content %}