{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
	<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock custom_css %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<div id="home-content">
            	<img class="side_image" src="{% static 'img/pika/6.png' %}">
            </div>
		</div>
        <div class="col">
        	<br><br>
        	<h1 style="text-align: center;">REVIEWS</h1>
        	<hr>
            <form action="" method="POST" style="text-align: center;">
                {% csrf_token %}
                <div class="form-group">
                	<div class="stars">
						<input class="star star-5" id="star-5" type="radio" value="5" name="rating" required/>
						<label class="star star-5" for="star-5"></label>
						<input class="star star-4" id="star-4" type="radio" value="4" name="rating"/>
						<label class="star star-4" for="star-4"></label>
						<input class="star star-3" id="star-3" type="radio" value="3" name="rating"/>
						<label class="star star-3" for="star-3"></label>
						<input class="star star-2" id="star-2" type="radio" value="2" name="rating"/>
						<label class="star star-2" for="star-2"></label>
						<input class="star star-1" id="star-1" type="radio" value="1" name="rating"/>
						<label class="star star-1" for="star-1"></label>
					</div>
                </div>
                <div class="form-group">
                    <div class="answer_text">
						<div class="form-group">
							<textarea name="review_text" id="answer_text" placeholder="Write your REVIEWS here..." class="form-control" rows="4" required></textarea>
						</div>
					</div>
                </div>
                <div class="form-group">
                    <div class="answer_text">
						<div class="form-group">
							<textarea name="pika_exp" id="answer_text" placeholder="pikapika, how was your experience with me ?" class="form-control" rows="4" required></textarea>
						</div>
					</div>
                </div>
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}